filesystem/.idea/workspace.xml
filesystem/Debug/filesystem
filesystem/Debug/testfilesystem.d
filesystem/Debug/testfilesystem.o
.idea/*
.idea
CMakeLists.txt
cmake-build-debug/*
cmake-build-debug/
filesystem/.idea/*
filesystem/.metadata/*
filesystem/.metadata/
filesystem/*.o
*.o
*.d
test
*.txt